.reveal h1 {
    font-size: 3em;
}

.reveal h2[id^=orgheadline] {
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 2em;
}

.reveal p {
    padding-left: 2em;
    text-align: left;
}
